#%RAML 0.8
title: Document
version: v0.1
mediaType: application/json
baseUri: https://api.yaas.io/hybris/document/v1
schemas:
  - genericResponse: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "code": {
                  "type": "string",
                  "required": true
              },
              "status": {
                  "type": "string",
                  "required": false
              },
              "message": {
                  "type": "string",
                  "required": false
              },
              "data": {
                  "type": "string",
                  "required": false
              }
          }
      }
  - resourceLocation: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "id": {
                  "type": "string",
                  "required": true
              },
              "link": {
                  "type": "string",
                  "required": true
              }
          }
      }
  - errorMessage: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "error",
          "description": "schema for API specified errors",
          "type": "object",
          "properties": {
              "status": {
                  "type": "integer",
                  "description": "original HTTP error code, should be consistent with the response HTTP code",
                  "minimum": "100",
                  "maximum": "599"
              },
              "type": {
                  "type": "string",
                  "description": "classification of the error type, lower case with underscore eg validation_failure",
                  "pattern": "[a-z]+[[a-z]_]*[a-z]+"
              },
              "message": {
                  "type": "string",
                  "description": "descriptive error message for debugging"
              },
              "moreInfo": {
                  "type": "string",
                  "format": "uri",
                  "description": "link to documentation to investigate further and finding support"
              },
              "details": {
                  "type": "array",
                  "description": "list of problems causing this error",
                  "items": {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "title": "errorDetail",
                      "description": "schema for specific error cause",
                      "type": "object",
                      "properties": {
                          "field": {
                              "type": "string",
                              "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                          },
                          "type": {
                              "type": "string",
                              "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                              "pattern": "[a-z]+[[a-z]_]*[a-z]+"
                          },
                          "message": {
                              "type": "string",
                              "description": "descriptive error detail message for debugging"
                          },
                          "moreInfo": {
                              "type": "string",
                              "format": "uri",
                              "description": "link to documentation to investigate further and finding support for error detail"
                          }
                      },
                      "required": [
                          "type"
                      ]
                  }
              }
          },
          "required": [
              "status",
              "type"
          ]
      }
  - tenantData: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "tenant": {
                  "type": "string",
                  "description": "the name of the tenant",
                  "required": true
              },
              "apps": {
                  "type": "array",
                  "description": "the list of all existing apps for the tenant",
                  "items": {
                      "type": "string"
                  },
                  "required": true
              }
          }
      }
  - tenantsData: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "type": "string"
          }
      }
  - tenantsStatistics: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "type": "object",
              "properties": {
                  "timestamp": {
                      "type": "string"
                  },
                  "client": {
                      "type": "string"
                  },
                  "tenant": {
                      "type": "string"
                  },
                  "typeCount": {
                      "type": "integer"
                  },
                  "indexCount": {
                      "type": "null"
                  },
                  "dataSizeBytes": {
                      "type": "null"
                  }
              },
              "required": [
                  "timestamp",
                  "client",
                  "tenant",
                  "typeCount",
                  "indexCount",
                  "dataSizeBytes"
              ]
          }
      }
  - clientStatistics: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "timestamp": {
                  "type": "string"
              },
              "client": {
                  "type": "string"
              },
              "tenantCount": {
                  "type": "integer"
              },
              "typeCount": {
                  "type": "integer"
              },
              "indexCount": {
                  "type": "integer"
              },
              "dataSizeBytes": {
                  "type": "integer"
              }
          },
          "required": [
              "timestamp",
              "client",
              "tenantCount",
              "typeCount",
              "indexCount",
              "dataSizeBytes"
          ]
      }
  - appData: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
              "tenant": {
                  "type": "string",
                  "description": "the name of the tenant",
                  "required": true
              },
              "app": {
                  "type": "string",
                  "description": "the name of the app",
                  "required": true
              },
              "types": {
                  "type": "array",
                  "description": "the list of all existing types for the tenant, app comibination",
                  "items": {
                      "type": "string"
                  },
                  "required": true
              }
          }
      }
  - documentInput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "additionalProperties": {
              "anyOf": [
                  {
                      "description": "Properties of document you want to store."
                  }
              ]
          },
          "properties": {
              "metadata": {
                  "type": "object",
                  "properties": {
                      "version": {
                          "type": "integer",
                          "minimum": 1
                      },
                      "schema": {
                          "type": "string",
                          "description": "URI to schema specified for document"
                      },
                      "mixins": {
                          "description": "Mixins object. Keys in mixins can be constructed only from numbers, letters, hyphens and underscores.",
                          "type": "object",
                          "patternProperties": {
                              "^[a-zA-Z0-9_-]*$": {
                                  "anyOf": [
                                      {
                                          "description": "URI for mixin.",
                                          "type": "string"
                                      },
                                      {
                                          "description": "Inline mixin.",
                                          "type": "object"
                                      }
                                  ]
                              }
                          },
                          "properties": {
                              "mixinsRoot": {
                                  "type": "string"
                              }
                          },
                          "additionalProperties": false
                      }
                  }
              },
              "id": {
                  "$ref": "https://api.yaas.io/patterns/v1/schema-id.json"
              }
          }
      }
  - documentOutput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "additionalProperties": {
              "anyOf": [
                  {
                      "description": "Properties of document you want to store."
                  }
              ]
          },
          "properties": {
              "metadata": {
                  "type": "object",
                  "properties": {
                      "createdAt": {
                          "$ref": "https://api.yaas.io/patterns/v1/schema-createdAt.json"
                      },
                      "modifiedAt": {
                          "$ref": "https://api.yaas.io/patterns/v1/schema-modifiedAt.json"
                      },
                      "version": {
                          "type": "integer",
                          "minimum": 1
                      },
                      "schema": {
                          "type": "string",
                          "description": "URI to schema specified for document"
                      },
                      "mixins": {
                          "description": "Mixins object. Keys in mixins can be constructed only from numbers, letters, hyphens and underscores.",
                          "type": "object",
                          "patternProperties": {
                              "^[a-zA-Z0-9_-]*$": {
                                  "anyOf": [
                                      {
                                          "description": "URI for mixin.",
                                          "type": "string"
                                      },
                                      {
                                          "description": "Inline mixin.",
                                          "type": "object"
                                      }
                                  ]
                              }
                          },
                          "properties": {
                              "mixinsRoot": {
                                  "type": "string"
                              }
                          },
                          "additionalProperties": false
                      }
                  }
              },
              "id": {
                  "$ref": "https://api.yaas.io/patterns/v1/schema-id.json"
              }
          }
      }
  - documentsOutput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "items": {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "type": "object",
              "additionalProperties": {
                  "anyOf": [
                      {
                          "description": "Properties of document you want to store."
                      }
                  ]
              },
              "properties": {
                  "metadata": {
                      "type": "object",
                      "properties": {
                          "createdAt": {
                              "$ref": "https://api.yaas.io/patterns/v1/schema-createdAt.json"
                          },
                          "modifiedAt": {
                              "$ref": "https://api.yaas.io/patterns/v1/schema-modifiedAt.json"
                          },
                          "version": {
                              "type": "integer",
                              "minimum": 1
                          },
                          "schema": {
                              "type": "string",
                              "description": "URI to schema specified for document"
                          },
                          "mixins": {
                              "description": "Mixins object. Keys in mixins can be constructed only from numbers, letters, hyphens and underscores.",
                              "type": "object",
                              "patternProperties": {
                                  "^[a-zA-Z0-9_-]*$": {
                                      "anyOf": [
                                          {
                                              "description": "URI for mixin.",
                                              "type": "string"
                                          },
                                          {
                                              "description": "Inline mixin.",
                                              "type": "object"
                                          }
                                      ]
                                  }
                              },
                              "properties": {
                                  "mixinsRoot": {
                                      "type": "string"
                                  }
                              },
                              "additionalProperties": false
                          }
                      }
                  },
                  "id": {
                      "$ref": "https://api.yaas.io/patterns/v1/schema-id.json"
                  }
              }
          }
      }
  - indexInput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "description": "input to create index",
          "type": "object",
          "properties": {
              "keys": {
                  "type": "object",
                  "additionalProperties": {
                      "type": "integer",
                      "minimum": -1,
                      "maximum": 1
                  }
              },
              "options": {
                  "type": "object",
                  "properties": {
                      "name": {
                          "type": "string"
                      },
                      "unique": {
                          "type": "boolean"
                      },
                      "sparse": {
                          "type": "boolean"
                      }
                  }
              }
          },
          "additionalProperties": false,
          "required": [
              "keys"
          ]
      }
  - indexOutput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "description": "index definition",
          "type": "object",
          "properties": {
              "key": {
                  "type": "object",
                  "additionalProperties": {
                      "type": "integer",
                      "minimum": -1,
                      "maximum": 1
                  }
              },
              "name": {
                  "type": "string"
              },
              "unique": {
                  "type": "boolean"
              },
              "sparse": {
                  "type": "boolean"
              }
          },
          "required": [
              "key",
              "name"
          ]
      }
  - indexesOutput: |
      {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "description": "array with indexes",
          "type": "array",
          "items": {
              "type": "object",
              "properties": {
                  "key": {
                      "type": "object",
                      "additionalProperties": {
                          "type": "integer",
                          "minimum": -1,
                          "maximum": 1
                      }
                  },
                  "name": {
                      "type": "string"
                  },
                  "unique": {
                      "type": "boolean"
                  },
                  "sparse": {
                      "type": "boolean"
                  }
              },
              "required": [
                  "key",
                  "name"
              ]
          }
      }
traits:
  - oauth2:
      usage: Apply this trait to support OAuth 2.0 authentication.
      description: |
        Supports OAuth 2.0 for authenticating all API requests.

      headers:
        Authorization:
          type: string
          description: |
            Used to send a valid OAuth2 access token.

          example: Bearer access_token
          required: true
      responses:
        401:
          description: |
            Given request is unauthorized. Bad or expired token. Reauthenticate
            the user. Any details will be provided within the response payload.

          body:
            application/json:
              example: |
                {
                    "status": 401,
                    "message": "Authorization: Unauthorized. Bearer TOKEN is invalid",
                    "type": "insufficient_credentials",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html"
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
        403:
          description: |
            Evaluated request scopes in access token are not sufficient and do not match required scopes.

          body:
            application/json:
              example: |
                {
                    "status": 403,
                    "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                    "type": "insufficient_permissions"
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - projectable:
      usage: |
        Apply this trait to a method or resource where you want to limit number of fields returned.
      description: |
        This trait adds "fields" query parameter to the request so that the the result fields can be
        filtered on the server side.

      queryParameters:
        fields:
          type: string
          description: |
            Contains a comma separated list of field identifiers, by which the fields of the response entities should be filtered by.
            Empty or not initialized value result in a minimal set of entity fields returned. Non-existing or invalid fields will be ignored.

          example: code,name,description
  - partiallyUpdatable:
      usage: Apply this trait to PUT methods that support partial updates.
      description: |
        This trait adds a "partial" query parameter to the request, so that also partial updates of an element can be requested.

      queryParameters:
        partial:
          type: boolean
          description: |
            If true, a partial update will be supported, otherwise the full object replacement will be performed.

          example: true
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
  - patchable:
      usage: Apply this trait to PUT methods that support partial updates.
      description: |
        This trait adds a "patch" query parameter to the request, so that also partial updates of an element can be requested.

      queryParameters:
        patch:
          type: boolean
          description: |
            If true, a partial update will be supported, otherwise the full object replacement will be performed.

          example: true
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "patch",
                            "message": "not a boolean",
                            "type": "invalid_query_parameter"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - paged:
      usage: |
        Apply this trait to a method returning a list of entities which should be paged.
      description: |
        This trait adds query parameters to the request so that the result can be paginated on the server side.
        The specified parameters are page number and page size.

      queryParameters:
        pageNumber:
          type: integer
          description: |
            The page number to be retrieved where the size of the pages must be specified by the pageSize parameter.
            The number of the first page is 1.

          minimum: 1
          example: 1
          default: 1
          required: false
        pageSize:
          type: integer
          description: |
            The number of documents being retrieved on the page.

          minimum: 1
          example: 16
          default: 16
          required: false
      responses:
        200:
          description: |
            Request was successful.

          headers:
            Link:
              description: |
                Link to the current page, the next page and the previous page. Marked accordingly with *rel* **self**, *rel* **next** and *rel* **prev**. The syntax must be conform to [RFC-5988](https://tools.ietf.org/html/rfc5988).
                The link to the current page (**self**) is required and must be provided always.
                The link to the next page (**next**) is optional. If not present, the next page is not available, as the current page is the last page of the result.
                The link to the previous page (**prev**) is optional. If not present, the previous page is not available, as the current page is the first page of the result.

              example: |
                <http://sample.com?pageNumber=2&pageSize=10>; rel="self", <http://sample.com?pageNumber=3&pageSize=10>; rel="next"
              required: true
              repeat: true
              type: string
              displayName: Link
        400:
          description: |
            Request was syntactically incorrect. Any details will be provided within the response payload.

          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "pageNumber",
                            "message": "must be a positive number",
                            "type": "invalid_query_parameter"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - sortable:
      usage: |
        Apply this to any method that support sorted results.

      queryParameters:
        sort:
          type: string
          description: |
            The list of comma-separated properties used to sort the results.
            By default, the column values are sorted in ascending order.
            Can either be in the form of fieldName or fieldName:asc,fieldName:desc.
            If you want to sort by localized attributes, you must use the following form:
            fieldName.language or fieldName.language:asc,fieldName.language:desc.

          example: |
            size,species:asc,weight:desc

          required: false
  - queryable:
      usage: |
        Apply this trait to a method returning a list of entities which should be queried.
      description: |
        This trait adds query parameters to the request so that the result can be queried and limited.

      queryParameters:
        q:
          type: string
          description: |
            The simple query criteria based on available fields to limit returned results or a set of modified documents.

          example: |
            species:dog name:"Clifford"

          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "q",
                            "message": "not a valid query",
                            "type": "invalid_query_parameter"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - localizedModification:
      usage: Apply this trait when you want to modify localized attributes.
      description: |
        This trait provides localization headers for modifying localized attributes.

      headers:
        Content-Language:
          type: string
          description: |
            The locale identifier of the language of the updated attribute.

          example: pl
          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "Content-Language",
                            "message": "not a language",
                            "type": "invalid_header"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - localizedRetrieval:
      usage: Apply this trait when you want to retrieve localized attributes.
      description: |
        This trait provides localization headers for retrieving localized attributes.

      headers:
        Accept-Language:
          type: string
          description: |
            The value of the locale identifier of the language in which the attribute should be returned.
            Provide several values separated by comma, in order to specify fallback languages.

          example: pl
          repeat: true
          required: false
        hybris-languages:
          type: string
          description: |
            Comma separated list of language identifiers for which the localization for an attribute
            should be provided.

          example: en,pl,it
          repeat: true
          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "Accept-Language",
                            "message": "not a language",
                            "type": "invalid_header"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - countable:
      usage: |
        Apply this to a method which returns the total number of objects fulfilling some criteria.

      description: |
        This trait adds a query parameter to the request so that the response contains the total number
        of objects fulfilling the criteria.

      queryParameters:
        totalCount:
          type: boolean
          description: |
            This parameter requests to return the total number of object in the collection fulfilling
            the criteria together with the response. This number will be returned in the 'hybris-count'
            header.

          example: true
          required: false
      responses:
        200:
          headers:
            hybris-count:
              description: |
                The total number of objects that fulfil the criteria.

              type: integer
              example: 1000
              required: false
              displayName: hybris-count
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "totalCount",
                            "message": "must be a boolean",
                            "type": "invalid_query_parameter"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
  - validated:
      usage: |
        apply to methods that need validation on parameters (tenant, client, type)
      responses:
        400:
          description: |
            Parameter is not valid: Parameter is empty or has special characters.

          body:
            application/json:
              schema: errorMessage
  - updateable:
      usage: apply to methods which may update data and violate index
      responses:
        409:
          description: |
            Data modification failed. Unique index violation.

          body:
            application/json:
              schema: errorMessage
  - parseJSON:
      usage: |
        apply this to any method that parses json objects

      responses:
        400:
          description: |
            JSON is invalid.

          body:
            application/json:
              schema: errorMessage
  - optimistic-locking:
      usage: |
        apply this to any method that supports optimistic locking

      queryParameters:
        version:
          type: integer
          description: |
            The version value.

          example: 1
          required: false
  - metaData:
      usage: |
        apply this to any method that requires additional metadata information

      headers:
        hybris-metaData:
          type: string
          description: |
            For more information about how to use metadata, see the Metadata topic in the Details section of the Document repository documentation.

          example: kind:localized;createDate:date;idAlias:id
          required: false
  - creatableOrUpdatable:
      usage: |
        apply this to any method that supports create or update operations

      queryParameters:
        upsert:
          type: boolean
          description: |
            If true, it will be created if it does not already exist. Otherwise a status code of 404 is returned.
          example: true
          required: false
  - creatable:
      usage: |
        apply this to methods that create new resources

      responses:
        201:
          description: |
            The request has been fulfilled and a new resource has been created.

          body:
            application/json:
              schema: resourceLocation
          headers:
            Location:
              description: |
                URI of the created resource.

              displayName: Location
              type: string
  - compactable:
      usage: |
        apply this to any method that support shrink operation

      queryParameters:
        compact:
          type: boolean
          description: |
            If true, then a shrink operation will be performed. Default is false.

          example: true
          required: false
  - allLanguages:
      usage: |
        apply this to any methods that support multi languages operations

      headers:
        hybris-languages:
          type: string
          example: "*"
          required: false
  - hybrisCurrency:
      usage: |
        apply this to any method that support filtering currency

      headers:
        hybris-currencies:
          type: string
          description: |
            Define the currency of response body. When hybris-currency is not set or is set to '*', it returns all currencies.
            When hybris-currency is set to '*', the service returns an error code of 400 with other currencies.

          example: USD,PLN,EUR
          required: false
  - cacheable:
      usage: |
        apply this trait to any method that supports caching control.

      responses:
        200:
          headers:
            Cache-Control:
              description: |
                Activate cache and define cache behaviour through cache response directives.
                Usually defines if it's public or private (cacheable by proxy or not) and max-age for resource or no-cache.
                See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

              type: string
              example: private, no-cache
              displayName: Cache-Control
            Expires:
              description: |
                Sets a date in RFC 1123 format from which the cached resource should no longer be considered valid.
                If both the Expires header and max-age in the Cache-Control header are set, max-age will take precedence.

              type: date
              example: Mon, 03 Aug 2015 17:45:57 GMT
              displayName: Expires
        304:
          headers:
            Cache-Control:
              description: |
                Activate cache and define cache behaviour through cache response directives.
                Usually defines if it's public or private (cacheable by proxy or not) and max-age for resource or no-cache.
                See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

              type: string
              example: private, no-cache
              displayName: Cache-Control
            Expires:
              description: |
                Sets a date in RFC 1123 format from which the cached resource should no longer be considered valid.
                If both the Expires header and max-age in the Cache-Control header are set, max-age will take precedence.

              type: date
              example: Mon, 03 Aug 2015 17:45:57 GMT
              displayName: Expires
  - contentCacheable:
      usage: |
        apply this trait to any method that supports content based caching (using ETags).

      headers:
        If-None-Match:
          type: string
          description: |
            This header requests to return resource if it does not match the given ETag. If the entity does match the provided ETag
            then HTTP 304 Not Modified status will be returned instead of requested resource.

          example: de305d54-75b4-431b-adb2-eb6b9e546014
          required: false
      responses:
        200:
          headers:
            ETag:
              description: |
                Entity Tag header containing a calculated tag (e.g. hash function.) which could be used for subsequent calls

              type: string
              example: de305d54-75b4-431b-adb2-eb6b9e546014
              displayName: ETag
            Cache-Control:
              description: |
                Activate cache and define cache behaviour through cache response directives.
                Usually defines if it's public or private (cacheable by proxy or not) and no-cache.
                See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

              type: string
              example: private, no-cache
              displayName: Cache-Control
        304:
          headers:
            ETag:
              description: |
                Entity Tag header containing a calculated tag (e.g. hash function.) which could be used for subsequent calls

              type: string
              example: de305d54-75b4-431b-adb2-eb6b9e546014
              displayName: ETag
            Cache-Control:
              description: |
                Activate cache and define cache behaviour through cache response directives.
                Usually defines if it's public or private (cacheable by proxy or not) and max-age for resource or no-cache.
                See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

              type: string
              example: private, no-cache
              displayName: Cache-Control
          description: |
            Entity has not been modified and the version cached by the client may be used.

  - fetchable:
      usage: |
        apply this to methods that return large resultsets to support streaming the response chunks

      queryParameters:
        fetchAll:
          type: boolean
          description: |
            Controls the way how documents are returned. If true, all documents are returned as HTTP chunks, otherwise paged results are returned.

          example: true
          required: false
  - contentEncodingAware:
      usage: |
        Apply this to the method which support content encoding - GZIP

      headers:
        Content-Encoding:
          type: string
          description: |
            Define the content encoding used for payload. Only GZIP is supported.

          example: gzip
          required: false
        Accept-Encoding:
          type: string
          description: |
            Define the client is accepting the given content encoding.

          example: gzip
          required: false
      responses: {}
  - textQueryable:
      usage: |
        Apply this trait to a method returning a list of entities which should be queried with full text search.
      description: |
        This trait adds query parameters to the request so that the result can be queried with full text index.

      queryParameters:
        text:
          type: string
          description: |
            The full text query criteria based on text index.

          example: |
            Amazing product with features

          required: false
        scoreField:
          type: string
          description: |
            A name of a field to be added to every result document containing text search score. **Applicable only to full text search.**

          example: |
            text_score

          required: false
        language:
          type: boolean
          description: |
            The language that determines the list of stop words for the search. Defaults to false. **Applicable only to full text search.**

          example: |
            en

          required: false
        caseSensitive:
          type: boolean
          description: |
            A boolean flag to enable or disable case sensitive search. Defaults to false. **Applicable only to full text search.**

          example: "true"
          required: false
        diacriticSensitive:
          type: boolean
          description: |
            A boolean flag to enable or disable diacritic sensitive search. Defaults to false. **Applicable only to full text search.**

          example: "false"
          required: false
      responses:
        400:
          description: |
            Request syntactically incorrect. Any details will be provided within the response payload.
          body:
            application/json:
              example: |
                {
                    "status": 400,
                    "message": "There are validation problems, see details section for more information",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                    "type": "validation_violation",
                    "details": [
                        {
                            "field": "q",
                            "message": "not a valid query",
                            "type": "invalid_query_parameter"
                        }
                    ]
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
/all:
  is: [ oauth2, contentEncodingAware ]
  get:
    is: [ cacheable ]
    description: |
      Returns a list of all tenants for a given client.
      <br/> <br/> **Security / Access Control:** <br/>To access this method, access token must be issued for <b>client</b> and have <b>hybris.document_view</b> scope to manage this resource.

    headers:
      Content-Encoding:
        type: string
        description: |
          Define the content encoding used for payload. Only GZIP is supported.

        example: gzip
        required: false
      Accept-Encoding:
        type: string
        description: |
          Define the client is accepting the given content encoding.

        example: gzip
        required: false
      Authorization:
        type: string
        description: |
          Used to send a valid OAuth2 access token.

        example: Bearer access_token
        required: true
    responses:
      200:
        headers:
          Cache-Control:
            description: |
              Activate cache and define cache behaviour through cache response directives.
              Usually defines if it's public or private (cacheable by proxy or not) and max-age for resource or no-cache.
              See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

            type: string
            example: private, no-cache
            displayName: Cache-Control
          Expires:
            description: |
              Sets a date in RFC 1123 format from which the cached resource should no longer be considered valid.
              If both the Expires header and max-age in the Cache-Control header are set, max-age will take precedence.

            type: date
            example: Mon, 03 Aug 2015 17:45:57 GMT
            displayName: Expires
          Content-Encoding:
            description: |
              The encoding applied to the response body.

            example: gzip
            displayName: Content-Encoding
            type: string
        description: |
          The request succeeded.

        body:
          application/json:
            schema: |
              {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "type": "array",
                  "items": {
                      "type": "string"
                  }
              }
            example: |
              [
                  "firstTenant",
                  "secondTenant"
              ]
      304:
        headers:
          Cache-Control:
            description: |
              Activate cache and define cache behaviour through cache response directives.
              Usually defines if it's public or private (cacheable by proxy or not) and max-age for resource or no-cache.
              See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html for more information.

            type: string
            example: private, no-cache
            displayName: Cache-Control
          Expires:
            description: |
              Sets a date in RFC 1123 format from which the cached resource should no longer be considered valid.
              If both the Expires header and max-age in the Cache-Control header are set, max-age will take precedence.

            type: date
            example: Mon, 03 Aug 2015 17:45:57 GMT
            displayName: Expires
      401:
        headers:
          Content-Encoding:
            description: |
              The encoding applied to the response body.

            example: gzip
            displayName: Content-Encoding
            type: string
        description: |
          Given request is unauthorized. Bad or expired token. Reauthenticate
          the user. Any details will be provided within the response payload.

        body:
          application/json:
            example: |
              {
                  "status": 401,
                  "message": "Authorization: Unauthorized. Bearer TOKEN is invalid",
                  "type": "insufficient_credentials",
                  "moreInfo": "https://api.yaas.io/patterns/errortypes.html"
              }
            schema: |
              {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "error",
                  "description": "Schema for API specified errors.",
                  "type": "object",
                  "properties": {
                      "status": {
                          "type": "integer",
                          "description": "original HTTP error code, should be consistent with the response HTTP code",
                          "minimum": 100,
                          "maximum": 599
                      },
                      "type": {
                          "type": "string",
                          "description": "classification of the error type, lower case with underscore eg validation_failure",
                          "pattern": "[a-z]+[a-z_]*[a-z]+"
                      },
                      "message": {
                          "type": "string",
                          "description": "descriptive error message for debugging"
                      },
                      "moreInfo": {
                          "type": "string",
                          "format": "uri",
                          "description": "link to documentation to investigate further and finding support"
                      },
                      "details": {
                          "type": "array",
                          "description": "list of problems causing this error",
                          "items": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "errorDetail",
                              "description": "schema for specific error cause",
                              "type": "object",
                              "properties": {
                                  "field": {
                                      "type": "string",
                                      "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                  },
                                  "type": {
                                      "type": "string",
                                      "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                      "pattern": "[a-z]+[a-z_]*[a-z]+"
                                  },
                                  "message": {
                                      "type": "string",
                                      "description": "descriptive error detail message for debugging"
                                  },
                                  "moreInfo": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "link to documentation to investigate further and finding support for error detail"
                                  }
                              },
                              "required": [
                                  "type"
                              ]
                          }
                      }
                  },
                  "required": [
                      "status",
                      "type"
                  ]
              }
      403:
        headers:
          Content-Encoding:
            description: |
              The encoding applied to the response body.

            example: gzip
            displayName: Content-Encoding
            type: string
        description: |
          Evaluated request scopes in access token are not sufficient and do not match required scopes.

        body:
          application/json:
            example: |
              {
                  "status": 403,
                  "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                  "type": "insufficient_permissions"
              }
            schema: |
              {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "title": "error",
                  "description": "Schema for API specified errors.",
                  "type": "object",
                  "properties": {
                      "status": {
                          "type": "integer",
                          "description": "original HTTP error code, should be consistent with the response HTTP code",
                          "minimum": 100,
                          "maximum": 599
                      },
                      "type": {
                          "type": "string",
                          "description": "classification of the error type, lower case with underscore eg validation_failure",
                          "pattern": "[a-z]+[a-z_]*[a-z]+"
                      },
                      "message": {
                          "type": "string",
                          "description": "descriptive error message for debugging"
                      },
                      "moreInfo": {
                          "type": "string",
                          "format": "uri",
                          "description": "link to documentation to investigate further and finding support"
                      },
                      "details": {
                          "type": "array",
                          "description": "list of problems causing this error",
                          "items": {
                              "$schema": "http://json-schema.org/draft-04/schema#",
                              "title": "errorDetail",
                              "description": "schema for specific error cause",
                              "type": "object",
                              "properties": {
                                  "field": {
                                      "type": "string",
                                      "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                  },
                                  "type": {
                                      "type": "string",
                                      "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                      "pattern": "[a-z]+[a-z_]*[a-z]+"
                                  },
                                  "message": {
                                      "type": "string",
                                      "description": "descriptive error detail message for debugging"
                                  },
                                  "moreInfo": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "link to documentation to investigate further and finding support for error detail"
                                  }
                              },
                              "required": [
                                  "type"
                              ]
                          }
                      }
                  },
                  "required": [
                      "status",
                      "type"
                  ]
              }
  /statistics:
    is: [ oauth2, contentEncodingAware ]
    get:
      description: |
        Returns a list of all tenants for a given client **with usage statistics**.
         <br/> <br/> **Security / Access Control:** <br/>To access this method, access token must be issued for <b>client</b> and have <b>hybris.document_view</b> scope to manage this resource.

      headers:
        Content-Encoding:
          type: string
          description: |
            Define the content encoding used for payload. Only GZIP is supported.

          example: gzip
          required: false
        Accept-Encoding:
          type: string
          description: |
            Define the client is accepting the given content encoding.

          example: gzip
          required: false
        Authorization:
          type: string
          description: |
            Used to send a valid OAuth2 access token.

          example: Bearer access_token
          required: true
      responses:
        200:
          headers:
            Content-Encoding:
              description: |
                The encoding applied to the response body.

              example: gzip
              displayName: Content-Encoding
              type: string
          description: |
            The request succeeded.

          body:
            application/json:
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "timestamp": {
                                "type": "string"
                            },
                            "client": {
                                "type": "string"
                            },
                            "tenant": {
                                "type": "string"
                            },
                            "typeCount": {
                                "type": "integer"
                            },
                            "indexCount": {
                                "type": "null"
                            },
                            "dataSizeBytes": {
                                "type": "null"
                            }
                        },
                        "required": [
                            "timestamp",
                            "client",
                            "tenant",
                            "typeCount",
                            "indexCount",
                            "dataSizeBytes"
                        ]
                    }
                }
              example: |
                [
                  {
                    "timestamp": "2016-11-23T09:54:04.798+0000",
                    "client": "hybris.product",
                    "tenant": "tenant1",
                    "typeCount": 5
                  },
                  {
                    "timestamp": "2016-11-23T09:54:04.798+0000
                    "client": "hybris.product",
                    "tenant": "tenant2",
                    "typeCount": 3
                  },
                  {
                    "timestamp": "2016-11-23T09:54:04.798+0000",
                    "client": "hybris.product",
                    "tenant": "tenant3",
                    "typeCount": 4
                  }
                ]

        401:
          headers:
            Content-Encoding:
              description: |
                The encoding applied to the response body.

              example: gzip
              displayName: Content-Encoding
              type: string
          description: |
            Given request is unauthorized. Bad or expired token. Reauthenticate
            the user. Any details will be provided within the response payload.

          body:
            application/json:
              example: |
                {
                    "status": 401,
                    "message": "Authorization: Unauthorized. Bearer TOKEN is invalid",
                    "type": "insufficient_credentials",
                    "moreInfo": "https://api.yaas.io/patterns/errortypes.html"
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
        403:
          headers:
            Content-Encoding:
              description: |
                The encoding applied to the response body.

              example: gzip
              displayName: Content-Encoding
              type: string
          description: |
            Evaluated request scopes in access token are not sufficient and do not match required scopes.

          body:
            application/json:
              example: |
                {
                    "status": 403,
                    "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                    "type": "insufficient_permissions"
                }
              schema: |
                {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "title": "error",
                    "description": "Schema for API specified errors.",
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "integer",
                            "description": "original HTTP error code, should be consistent with the response HTTP code",
                            "minimum": 100,
                            "maximum": 599
                        },
                        "type": {
                            "type": "string",
                            "description": "classification of the error type, lower case with underscore eg validation_failure",
                            "pattern": "[a-z]+[a-z_]*[a-z]+"
                        },
                        "message": {
                            "type": "string",
                            "description": "descriptive error message for debugging"
                        },
                        "moreInfo": {
                            "type": "string",
                            "format": "uri",
                            "description": "link to documentation to investigate further and finding support"
                        },
                        "details": {
                            "type": "array",
                            "description": "list of problems causing this error",
                            "items": {
                                "$schema": "http://json-schema.org/draft-04/schema#",
                                "title": "errorDetail",
                                "description": "schema for specific error cause",
                                "type": "object",
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "description": "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern": "[a-z]+[a-z_]*[a-z]+"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "descriptive error detail message for debugging"
                                    },
                                    "moreInfo": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "link to documentation to investigate further and finding support for error detail"
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    },
                    "required": [
                        "status",
                        "type"
                    ]
                }
    /total:
      is: [ oauth2, contentEncodingAware ]
      get:
        description: |
          Returns a document with detailed usage statistics for a given client.
            <br/> <br/> **Security / Access Control:** <br/>To access this method, access token must be issued for <b>client</b> and have <b>hybris.document_view</b> scope to manage this resource.

        headers:
          Content-Encoding:
[...]
